/*########## Содержание страницы  #############*/
header,
nav,
footer {
  display: block;
}

body {
  line-height: 1;
  margin: 0;
  background-color: #fff;
  font-family: "Roboto", sans-serif, serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

.container {
  width: 100%;
  margin: 2px;
  padding-top: 4%;
  padding-bottom: 4%;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.row::after {
  display: table;
  clear: both;
  content: "";
}

.hrStyling {
  margin-top: -30px;
  margin-bottom: 40px;
  width: 160px;
  height: 8px;
  border-radius: 50px;
  background-image: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
}
.hrStyling2 {
  margin-top: -30px;
  margin-bottom: 40px;
  width: 200px;
  height: 8px;
  border-radius: 50px;
  background-image: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
}
.parts {
    margin-left:600px;
    width: 700px;
}

.lest {
    position:relative;
    margin:100;
    margin-left: 500px;
    background:#ff6600;
    height:40px;
    width:350px;
    border: 3px solid #00a8e1;
}
.lest2 {
    display:none;
    margin-left:350px;
    padding:10px;
    margin-top:-190px;
    height:100px;
}
.lest:hover .lest2 {
    display:block;
    position:absolute;
    top:120px;
    z-index:9999;
    width:150px;
}


/*#####################NavBar и секции-#######################*/

.navbar {
  margin: 0;
  margin-top: 0px;
  padding: 0;
  width: 100%;
  background-color: #000;
  top: 0;
  position: sticky;
  z-index: 1000;
}

.ulNavbar {
  margin: 0 150px;
  padding: 10px;
  background-color: #000;
  overflow: hidden;
}

.ulNavbar li.navLeft {
  margin-left: 20px;
  float: left;
  max-width: 100%;
  height: 90px;
}

.ulNavbar img {
  max-width: 100%;
  height: 130px;
  margin-top: -20px;
}

.ulNavbar li {
  list-style-type: none;
  float: right;
}

.navRight {
  margin-top: 25px;
  font-weight: 900;
  line-height: 2;
  font-size: 17px;
}

.ulNavbar li a {
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
}

.ulNavbar li a {
  border-bottom: 1px solid transparent;
  padding-bottom: 0px;
  transition: 0.5s;
}

.ulNavbar li a.active {
  border-bottom: 1px solid #fff;
}

.ulNavbar li a:hover {
  border-bottom: 1px solid #fff;
}

/*###################   Фон   ####################*/

.IndexHeading {
  margin-top: 100px;
  margin-left: 150px;
  font-size: 8px;
  letter-spacing: 0.1em;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.trademark {
  margin-left: -3px;
}

.IndexPara {
  margin-top: -30px;
  margin-left: 150px;
  font-size: 50px;
  color: #fff;
  line-height: 1.05;
  font-weight: 700;
}

.IndexButton {
  margin-top: -30px;
  padding-bottom: 130px;
}

.IndexButton button {
  background-color: #fff;
  border-radius: 24% 0%;
  padding: 10px 25px;
  letter-spacing: 0.2em;
  margin-left: 150px;
  text-transform: uppercase;
  border: solid #fff 2px;
  transition: color 0.9s ease, background-color 0.7s ease;
}

.IndexButton button:hover {
  background-color: #000;
  color: #fff;
  transition: color 0.9s ease, background-color 0.7s ease;
}

.Indeximg img {
  max-width: 100%;
  height: 200px;
  margin-left: 250px;
}

.borderdesign {
  margin-top: -30px;
}

.borderdesign p {
  background-color: #000;
  color: #fff;
  position: relative;
  text-align: center;
  padding: 40px;
  font-size: 30px;
  font-weight: 700;
}

.borderdesign p::after {
  content: "";
  position: absolute;
  left: calc(52% - 1.6em);
  bottom: -2.4rem;
  border: solid 1.6rem;
  border-bottom-color: transparent !important;
  border-right-color: transparent !important;
  border-left-color: transparent !important;
  border-top: solid #000 1.1rem;
}

.borderdesign p span {
  font-size: 50px;
}

/*############################ Секция-1 #############################*/

.Section1 h1 {
  text-align: center;
  font-size: 72px;
  padding-top: 20px;
  background: -webkit-linear-gradient(#33ccff, #ff99cc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rightside-col p {
  color: #000;
  font-size: 17px;
  line-height: 1.4;
  margin-left: 6%;
}

.SlideShow img {
  margin-left: 6%;
  box-shadow: -2px -2px 5px 2px rgba(0, 0, 0, 0.15),
    2px 2px 17px 2px rgba(0, 0, 0, 1);
}

.para2 p {
  color: #000;
  font-size: 17px;
  line-height: 1.4;
  margin-left: 2%;
  margin-bottom: 80px;
  margin-right: 3%;
  text-align: justify;
}

.para2Img {
  background-image: linear-gradient(135deg, #21dbaa, #00b4ef, #0768dd, #5f1ae5);
  margin-bottom: -65px;
  margin-left: -2px;
}

.para2Img iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  max-width: 100%;
  border: 0;
  box-shadow: -2px -2px 5px 2px rgba(0, 0, 0, 0.15),
    2px 2px 17px 2px rgba(0, 0, 0, 1);
}

.textcolor {
  color: #333366;
  background-color: #CC9966;
}

.dropdownicon {
  display: none;
}
/*////////////////////////////  Подвал  //////////////////////////////*/

footer .container {
  background-color: #000;
  margin-bottom: 0px;
  padding: 20px;
  margin-left: -2px;
}

footer p {
  text-align: center;
  color: #fff;
}

/*//////////////////// Медиа область /////////////////*/

@media screen and (max-width: 768px) {
  .navRight {
    display: none;
  }

  .dropdownicon {
    display: block;
    position: absolute;
    top: 30px;
    right: 0;
  }
  .navLeft img {
    margin-left: 0px;
    max-width: 100%;
  }

  ul.ulNavbar.responsive li.dropdownicon {
    top: 25px;
    right: 0;
    position: absolute;
  }

  ul.ulNavbar.responsive li {
    float: none;
    display: flex;
  }

  ul.ulNavbar.responsive li a {
    display: block;
  }

  .col-6,
  .col-7,
  .col-5 {
    width: 100%;
    margin: 0px;
  }

  .borderdesign p span {
    display: none;
  }
  .IndexHeading h1 {
    display: block;
    margin-left: -100px;
  }

  .IndexPara p {
    display: block;
    margin-left: -100px;
  }

  .Indeximg img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
  }

  .Section1 h1 {
    font-size: 50px;
  }

  .rightside-col p {
    margin: 0 20px 50px 20px;
  }

  .row {
    flex-wrap: wrap;
  }
  .SlideShow img {
    display: block;
    margin: auto;
    max-width: 90%;
    height: auto;
  }

  .para2 p {
    margin: 0 20px 50px 20px;
  }

  .para2Img {
    margin-bottom: -20px;
  }
}
